.postCard {
  background-color: var(--secondary-background-color);
  padding: 20px;
  width: 60vw;
  border-radius: 12px;
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.2),
    3px 3px 8px rgba(0, 0, 0, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.3) inset;
  &:hover {
    outline: var(--outline);
  }
}

.top,
.bottom,
.left,
.right {
  display: flex;
  gap: 10px;
}

.left {
  gap: 20px;
}

.bottom {
  justify-content: space-between;
}
