@property --color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;

  --icon-color: var(--color);
  transition: --color 1s;
}
.btn {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icon-color);
  border-color: var(--icon-color);
}