@property --color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;

  --icon-color: var(--color);
  transition: --color 1s;
}
.btn {
  color: var(--icon-color);
}

.count {
  margin: 0;
}