.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .field {
  width: 50vw;
  display: flex;
  gap: 20px;
}
.field input, .field textarea {
  min-width: 300px;
}
.field textarea {
  width: 500px;
  height: 250px;
}
