@property --header-background-color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}
@property --header-color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

.header {
  padding: 0 var(--padding-sides) 0 var(--padding-sides);
  height: 70px;
  
  --header-background-color: var(--secondary-background-color);
  --header-color: var(--color);
  background-color: var(--header-background-color);
  color: var(--header-color);
  transition-property: --header-background-color, --header-color;
  transition-duration: 1s;
}

.header *{
  color: var(--header-color);
  border-color: var(--header-color);
}

.header nav,
.right,
.left {
  display: flex;
  align-items: center;
}

.header nav {
  justify-content: space-between;
}

.right, .left {
  gap: 10px;
}
.left em {
  font-size: 12px;
  transform: translateY(10px);
}