* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  --background-color-light: white;
  --color-light: black;
  --padding-sides: 10px;
  background-color: var(--background-color-light);
  margin: 0;
  padding: 0;
  color: var(--color-light);
}

em {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.753)
}

.content {
  padding-right: var(--padding-sides);
  padding-left: var(--padding-sides);
}

button,
.button-link {
  display: inline-block;
  margin: 5px;
  padding: 3px;
  min-width: 30px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
}

.unstyled-link{ 
  text-decoration: none;
  color: var(--color-light)
}